body{ 
    background: linear-gradient(white , blue );
    background-repeat : no-repeat;
    background-attachment: fixed;


}
h1{ 
    color: white;
    font-family: "Bebas Neue";
}

p{ 
    
    color: rgb(3, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
    

}

#h1a{
    border: 5px solid;
    border-radius: 5%;
    width: 520px ;
    height: 70px;

  
    margin-left: auto;
    margin-right: auto;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 60px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    
}

.fa-house {
    color: rgb(12, 3, 3);
    margin-left: auto;
    margin-bottom: auto;
    float: left;
    

}

img{

    border: 5px solid;
    border-color: black;
    border-radius: 5%;
    ;

    margin-left: auto;
    margin-top: 20px;
    float: right;
    




}
